<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence     
    http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
    version="2.0">
    <persistence-unit name ="GenericEM">
		<jta-data-source>jdbc/__generic</jta-data-source>
		<properties>
			<!-- <property name="toplink.jdbc.driver" value="org.apache.derby.jdbc.EmbeddedDriver"/>
			<property name="toplink.jdbc.url" value="jdbc:derby://localhost:1527/ProtoolDB"/> 
			<property name="toplink.jdbc.user" value="app"/> 
			<property name="toplink.jdbc.password" value="app"/>
	        Use the java2db feature 
			<property name="eclipselink.ddl-generation" value="drop-and-create-tables" />
			<property name="toplink.ddl-generation" value="none"/> 
			<property name="eclipselink.ddl-generation.output-mode"	value="database" />
			Generate the sql specific to Derby database           
			<property name="toplink.platform.class.name" value="oracle.toplink.essentials.platform.database.DerbyPlatform"/> --> 
			<!--<property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/sun-appserv-samples"/>-->
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://94.76.200.215:3306/generic_db"/>
			<property name="javax.persistence.jdbc.password" value="genericdb"/>
			<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
			<property name="javax.persistence.jdbc.user" value="generic"/>
			<property name="eclipselink.ddl-generation.output-mode"	value="none" />
			<!--<property name="eclipselink.ddl-generation" value="drop-and-create-tables" />
			<property name="eclipselink.ddl-generation" value="create-tables" />-->
			<property name="eclipselink.target-database" value="MYSQL"/>
			<property name="eclipelink.logging.level" value="FINEST"/> 
			<property name="eclipselink.weaving.fetchgroups" value="false"/>	
		</properties>
	</persistence-unit>
</persistence>
